/* iPhone */
@media only screen and (width:320px) and (device-width:320px) and (device-height:480px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.667);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 480px;
	}
}



body{
  text-align: center;
}
.images--show img{
	width: 300px;
	height: auto;
}
@media only screen and (max-width: 768px) {
	.images--show img{
		width: 130px;
		height: auto;
	}
}
.images img{
	width: 200px;
	height: auto;
}
@media only screen and (max-width: 768px) {
	.images img{
		width: 100px;
		height: auto;
	}
}
p{
  font-size: 30px;
}
