body{
  text-align: center;
}
.RockPaperScissors img{
  margin: 30px;
  width: 200px;
}
p{
  font-size: 30px;
}
@media (max-width: 768px) {
  h1{
    color:orange;
  }
  #imgComputer {
    height: 80%;
    width: 80%;
  }
  #imgPerson {
    height: 80%;
    width: 80%;
  }
  #rockimg {
    height: 80%;
    width: 80%;
  }
  #paperimg {
    height: 80%;
    width: 80%;
  }
  #scissorsimg {
    height: 80%;
    width: 80%;
  }

  @media (max-width: 480px) {
    h1{
      color:green;
    }
    #imgComputer {
      height: 80%;
      width: 80%;
    }
    #imgPerson {
      height: 80%;
      width: 80%;
    }
    #rockimg {
      height: 80%;
      width: 80%;
    }
    #paperimg {
      height: 80%;
      width: 80%;
    }
    #scissorsimg {
      height: 80%;
      width: 80%;
    }
