body{
  text-align: center;
}
.table{
  text-align: left;
  font-size: 18px;
}
img{
  margin: 10px;
  width: 200px;
}
.selectImages img{
  margin: 10px;
  width: 100px;
}
p,span{
  font-size: 25px;
}
.table{
	margin: 20px 0;
}